# Homework 1

**Inhalt:** Datensets explorieren, filtern, Felder erstellen

**Nötige Skills:** Erste Schritte mit Pandas

**Lernziele:**
- Review und Übung

# Das Beispiel

Fussballstadien

Quelle/Beschreibung: http://opisthokonta.net/?cat=34

Laden Sie das File von hier herunter: http://opisthokonta.net/wp-content/uploads/2015/03/stadiums_20150302.csv

Speichern Sie das Datenfile an einem geeigneten Ort.

(zum Beispiel in einem Unterordner `dataprojects/stadiums`)

## Vorbereitung

Importieren Sie die benötigten Libraries und stellen Sie die richtigen Settings für Matplotlib ein.

In [27]:
import pandas as pd

In [28]:
%matplotlib inline

## Daten laden

Öffnen Sie das Datenfile in Pandas

In [29]:
path = "dataprojects/stadiums/stadiums_20150302_cst.csv"

In [30]:
df = pd.read_csv(path)

Untersuchen Sie die Struktur der Daten: Länge, Datenfelder, erste Zeilen

In [31]:
df.head(3)

,Team,FDCOUK,City,Stadium,Capacity,Latitude,Longitude,Country
0,Arsenal,Arsenal,London,Emirates Stadium,60361,51.555000,-0.108611,England
1,Aston Villa,Aston Villa,Birmingham,Villa Park,42785,52.509167,-1.884722,England
2,Blackburn Rovers,Blackburn,Blackburn,Ewood Park,31154,53.728611,-2.489167,England

In [32]:
df.tail(3)

,Team,FDCOUK,City,Stadium,Capacity,Latitude,Longitude,Country
161,A.F.C. Bournemouth,Bournemouth,Bournemouth,Goldsands Stadium,12000,50.735277,-1.838330,England
162,Yeovil Town,Yeovil,Yeovil,Huish Park,9565,50.950270,-2.674880,England
163,Brentford,Brentford,London,Griffin Park,12763,51.488183,-0.302639,England

In [33]:
df.shape

(164, 8)

In [34]:
df.dtypes

Team          object
FDCOUK        object
City          object
Stadium       object
Capacity       int64
Latitude     float64
Longitude    float64
Country       object
dtype: object

Sind die Daten vollständig?

## Einfache Auswertungen

Welche Länder sind in der Datenbank vertreten?

In [35]:
df.head(2)

,Team,FDCOUK,City,Stadium,Capacity,Latitude,Longitude,Country
0,Arsenal,Arsenal,London,Emirates Stadium,60361,51.555000,-0.108611,England
1,Aston Villa,Aston Villa,Birmingham,Villa Park,42785,52.509167,-1.884722,England

In [57]:
df["Country"].nunique()

5

Wie viele Stadien sind pro Land in der Datenbank?

In [42]:
df["Stadium"].nunique() # jedes Fussballstadium heisst unterschiedlich

164

In [54]:
df["Country"].head(10)

0    England
1    England
2    England
3    England
4    England
5    England
6    England
7    England
8    England
9    England
Name: Country, dtype: object

In [52]:
df["Country"].value_counts()

England     72
France      26
Spain       25
Germany     23
Scotland    18
Name: Country, dtype: int64

In welchen fünf Städten stehen am meisten Fussballstadien?

In [55]:
df["City"].value_counts().head(5)

London        9
Glasgow       3
Madrid        3
Liverpool     2
Dundee        2
Name: City, dtype: int64

Wie viele Stadien stehen östlich von Greenwich (also dem Null-Meridian)?

In [64]:
# Schritt 1: Spalte mit ist ein Stadium östlich von Greenwich True/False   df["Longitude"] > 0
# das als Dataframe ausgeben, zeigt die ganze Tabelle an  df[df["Longitude"] > 0]
# Davon die Länge berechnen mit len()-Funktion

len(df[df["Longitude"] > 0])

52

## Ranglisten

Welche zehn Clubs haben die grössten Stadien?

In [65]:
df.head(2)

,Team,FDCOUK,City,Stadium,Capacity,Latitude,Longitude,Country
0,Arsenal,Arsenal,London,Emirates Stadium,60361,51.555000,-0.108611,England
1,Aston Villa,Aston Villa,Birmingham,Villa Park,42785,52.509167,-1.884722,England

In [66]:
df["Capacity"].value_counts().head(10)

30000    2
50000    2
60832    1
32609    1
16480    1
9565     1
27740    1
25133    1
10841    1
71000    1
Name: Capacity, dtype: int64

Erstellen Sie eine neue Spalte ("Bezeichnung"), die den Teamnamen und das Stadion enthält (z.B. "Barcelona: Camp Nou")

Hint: Man kann Serien mit Text-Content genauso wie Serien mit Zahlen-Content addieren.

Speichern Sie die zehn Clubs mit den grössten Stadien in einem separaten Dataframe.

Erstellen Sie einen horizontalen Barchart mit der Stadion-Bezeichnung und der Kapazität.

## Gruppierte Auswertung

Ordnen Sie die Länder nach der Durchschnittsgrösse der Stadien.

Welches sind die grössten drei Stadien östlich des Null-Meridians?

Welches sind die grössten drei Stadien westlich des Null-Meridians?

Erstellen Sie ein Dataframe, das ausschliesslich die Stadien in London und Madrid enthält.

Bei den Städten hat es zT Leerschläge drin. Führen Sie folgenden Code aus, um sie zu entfernen:

Erstellen Sie ein Dataframe, das nur die Stadien aus Madrid und Glasgow enthält.

Vergleichen Sie die Stadien der beiden Städe anhand des Medianwerts.

## Ein Histogramm

Wie ist die Verteilung der Stadiongrösse? Zeichnen Sie ein Histogramm mit genügend feiner Aufgliederung.

## Ein hübscher Scatterplot

Man würde das normalerweise anders machen, aber da wir hier schon die Koordinaten haben...

- Definieren Sie einen Parameter "area" für die Punktegrösse, der sich an der Kapazität orientiert.

- Und plotten sie die Stadien auf einer "Landkarte" (Longitude auf der x-Achse, Latitude auf der y-Achse)