# 3_EURES_CH_Daten_reinigen

<font color='red'>In diesem Notebook werden die gescrapten Daten (abgespeichert als Data_EURES_CH_17022019.csv) mit Hilfe von Pandas gereinigt und klassifiziert.</font>

### Schritt 1: Daten laden

In [27]:
import pandas as pd

In [28]:
path = "Data_EURES_CH_17022019.csv"

with open(path) as f:
    dateiinhalt = f.read()

In [29]:
df = pd.read_csv(path)

### Schritt 2: Datenstruktur überblicken

In [39]:
df.shape

(4831, 11)

**ERKENNTNIS:** Die Tabelle hat 4831 Einträge, was der Anzahl Jobinserate aus der Schweiz entspricht

In [40]:
df.head(3)

,id,creationDate,lastModificationDate,title,description,numberOfPosts,locationMap,euresFlag,jobCategoriesCodes,employer,score
0,MDgyQ05KQyA5,1547103651000,1550419220000,Conseiller / Conseillère clientèle en assurances,Prospection téléphonique <br>Suivi de la clien...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C3321'],"{'name': 'PHOENIX MANAGEMENT', 'website': None...",NaN
1,MDgyWFJLUSA5,1548745236000,1550419219000,CONSEILLER A LA CLIENTELE (H/F),Analyser la situation globale de vos clients a...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C3321'],"{'name': 'MF CONSEIL SARL', 'website': None, '...",NaN
2,MDgyV0xYUyA5,1548662527000,1550417428000,Téléconseiller / Téléconseillère,Notre club s'oriente aujourd'hui vers un club ...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5244'],"{'name': 'FRANCE LOISIRS SUISSE', 'website': N...",NaN

In [41]:
df.tail(3)

,id,creationDate,lastModificationDate,title,description,numberOfPosts,locationMap,euresFlag,jobCategoriesCodes,employer,score
4828,MTAwMDAtMTE2NDk0NTI5OC1TIDE,1535144224976,1535144224976,Gesundheits- und Krankenpfleger/in auf der Gyn...,Stellenangebotsbeschreibung: <br>Die Personal ...,2,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C3221'],{'name': 'Personal Spezial Arzt und Pflege Ver...,NaN
4829,MTAwMDAtMTE0ODA0MDA2NS1TIDE,1531547424942,1531547424942,Facharzt (m/w) Innere Medizin (Facharzt/-ärzti...,Stellenangebotsbeschreibung: <br>Die Klinik su...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C2212'],"{'name': 'Connecting People Medical', 'website...",NaN
4830,MTAwMDAtMTE0Nzg5ODUwOC1TIDE,1531547424251,1531547424251,Chefarzt (m/w) Ophtalmologie (Facharzt/-ärztin...,Stellenangebotsbeschreibung: <br>Die Klinik su...,1,{'CH': [None]},False,"['http://data.europa.eu/esco/isco/C2212', 'htt...","{'name': 'Connecting People Medical', 'website...",NaN

**ERKENNTNIS:** Die ersten und die letzten Einträge stimmen überein mit den Jobinseraten auf der ersten und letzten Page auf EURES. Der Scraper scheint alle Jobinserate zu scrapen.

In [42]:
df.dtypes

id                       object
creationDate              int64
lastModificationDate      int64
title                    object
description              object
numberOfPosts             int64
locationMap              object
euresFlag                  bool
jobCategoriesCodes       object
employer                 object
score                   float64
dtype: object

Entscheidend für die Frage, welche Schweizer Jobs im Ausland ausgeschrieben werden sind die Variablen **jobCategoriesCodes**  und **numberOfPosts**.

In [102]:
df['jobCategoriesCodes'].head(100).tail(20)

80    ['http://data.europa.eu/esco/isco/C7112', 'htt...
81    ['http://data.europa.eu/esco/isco/C5131', 'htt...
82            ['http://data.europa.eu/esco/isco/C5151']
83            ['http://data.europa.eu/esco/isco/C3118']
84    ['http://data.europa.eu/esco/isco/C7233', 'htt...
85            ['http://data.europa.eu/esco/isco/C7126']
86    ['http://data.europa.eu/esco/isco/C3118', 'htt...
87    ['http://data.europa.eu/esco/isco/C7421', 'htt...
88            ['http://data.europa.eu/esco/isco/C2654']
89            ['http://data.europa.eu/esco/isco/C2212']
90            ['http://data.europa.eu/esco/isco/C3115']
91            ['http://data.europa.eu/esco/isco/C7123']
92            ['http://data.europa.eu/esco/isco/C7123']
93    ['http://data.europa.eu/esco/isco/C7412', 'htt...
94    ['http://data.europa.eu/esco/isco/C7112', 'htt...
95    ['http://data.europa.eu/esco/isco/C2212', 'htt...
96            ['http://data.europa.eu/esco/isco/C4120']
97            ['http://data.europa.eu/esco/isco/C5414']
98            ['http://data.europa.eu/esco/isco/C3341']
99            ['http://data.europa.eu/esco/isco/C7126']
Name: jobCategoriesCodes, dtype: object

**ERKENNTNIS:** Wohin führen die Links unter jobCategoriesCodes? Hinter jedem Link (http://data.europa.eu/esco/isco/C7212?) ist auf der Webseite von Eures ein Jobprofil hinterlegt nach dem International Standard Classification of Occupations - ISCO 08 (https://www.bfs.admin.ch/bfs/de/home/statistiken/arbeit-erwerb/nomenclaturen/isco08.html). Damit lassen sich die Daten klassifzieren.

In [43]:
df.describe()

       creationDate  lastModificationDate  numberOfPosts  score
count  4.831000e+03          4.831000e+03    4831.000000    0.0
mean   1.546273e+12          1.548625e+12       1.587663    NaN
std    5.156601e+09          1.661317e+09       1.819530    NaN
min    1.531547e+12          1.531547e+12       1.000000    NaN
25%    1.545318e+12          1.548108e+12       1.000000    NaN
50%    1.548223e+12          1.549062e+12       1.000000    NaN
75%    1.549323e+12          1.549922e+12       1.000000    NaN
max    1.550357e+12          1.550419e+12      40.000000    NaN

In [44]:
df['numberOfPosts'].value_counts().sort_index()

1     4052
2      132
3      170
4      150
5      208
6       14
7        8
8        9
9        3
10      70
11       2
12       4
15       5
20       1
30       2
40       1
Name: numberOfPosts, dtype: int64

In [45]:
df[df['numberOfPosts'] == 40]

,id,creationDate,lastModificationDate,title,description,numberOfPosts,locationMap,euresFlag,jobCategoriesCodes,employer,score
2361,MTAwMDAtMTE2OTExMTU5NS1TIDE,1549063740383,1549063740383,Schweisser/Rohrschlosser/Anlagenbau (Schweißer...,Stellenangebotsbeschreibung: <br>- Isometrie-R...,40,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7212'],"{'name': 'inova Personal Amriswil GmbH', 'webs...",NaN

In [46]:
df['jobCategoriesCodes'].tail(2470).head(1)

2361    ['http://data.europa.eu/esco/isco/C7212']
Name: jobCategoriesCodes, dtype: object

**ERKENNTNIS:** Die Variable numberOfPosts ist ein Zahlenwert (integer). Sie hat einen Maximalwert von 40. Firmen scheinen zum Teil mehr als eine Stelle unter einem Jobinserat zu inserieren. Eine Firma hat sogar 40 Stellen in einem Jobinserat aufgeschalten. Insgesamt sind unter den 4831 Jobinseraten 7670 offene Stellen subsumiert. Auch wenn 40 Stellen ausgeschrieben sind, können diese alle das gleiche Jobprofil haben.

**AUSNAHME 1:** Weiter Aufschluss geben können die Direktlinks zu den Jobinseraten. Dazu muss nur die id, indiesem Fall MTAwMDAtMTE2OTExMTU5NS1TIDE, in der Url eines beliebigen Jobinserates ausgewechselt werden:  https://ec.europa.eu/eures/eures-searchengine/page/main?lang=en&app=2.1.1p1-build-0#/jv-details/MTAwMDAtMTE2OTExMTU5NS1TIDE

Es handelt sich offenbar um einen Jobvermittler welcher 40 Schlosser sucht.

**AUSNAHME 2:** Gucken wir uns einen weiteren Ausnahmefall an: In einem Jobinserat sind mehr als ein Jobprofil hinterlegt: https://ec.europa.eu/eures/eures-searchengine/page/main?lang=en&app=2.1.1p1-build-0#/jv-details/MTAwMDAtMTE2ODc2OTY1NS1TIDE

Es werden 3 Intesivpfleger gesucht, der Jobinserent hat aber 2 Jobprofile hinterlegt: Health care assistants und Nursing associate professionals.

<font color='red'>**WEITERES VORGEHEN**: Es spielt keine Rolle ob in der Spalte 'jobCategoriesCodes' nur ein oder mehrere Links zu Jobkategorien hinterlegt sind. Wird nur die erste Hierarchiestufe gebraucht, lassen sich die Inserate einfach kategorisieren. Es braucht eine neue Spalte'jobCodes10'wo die einzelnen Inserate der obersten Hierarchiestufe gemäss ISCO 08-Standard zugewiesen werden.</font>

### Schritt 3: Daten reinigen

**VERSUCH 1:** Die Variable 'jobCategoriesCodes' nach dem Komma splitten. (siehe dazu https://stackoverflow.com/questions/14745022/how-to-split-a-column-into-two-columnsDie))

In [6]:
df[['jobCategoriesCodes1','jobCategoriesCodes2']] = pd.DataFrame(df.jobCategoriesCodes.values.tolist(), index= df.index)
print (df)

ValueError: Columns must be same length as key

**Funktioniert nicht!** Warum? Unter 'jobCategoriesCodes' sind Listen mit eintweder einem oder mehreren Elementen abgespeichert. Damit funktioniert obiger Befehl nicht.

**VERSUCH 2:** Die Variable 'jobCategoriesCodes' umwandeln in einen String und dann splitten.

In [7]:
import json

In [8]:
df['jobCategoriesCodes'][93]

"['http://data.europa.eu/esco/isco/C7412', 'http://data.europa.eu/esco/isco/C7411']"

In [11]:
jobCode = json.loads(df['jobCategoriesCodes'][93].replace("'",'"'))[0]
jobCode

'http://data.europa.eu/esco/isco/C7412'

Es funktioniert. Die Variable 'jobCategoriesCodes' ist immer eine Url und gleich aufgebaut:  

http://data.europa.eu/esco/isco/C.....

Man kann also nach '/' splitten, das letzte Element auswählen C7412 und dann die erste Zahl nach dem C.

In [12]:
jobCodeURL = json.loads(df['jobCategoriesCodes'][93].replace("'",'"'))[0]
jobCodeURL

'http://data.europa.eu/esco/isco/C7412'

In [18]:
jobCodeNumber = json.loads(df['jobCategoriesCodes'][93].replace("'",'"'))[0].split("/")[-1][1]
jobCodeNumber

'7'

Jetzt die Funktion auf die ganze Spalte jobCategoriesCodes anwenden und in einer neuen Spalte 'jobCodes10' abspeichern.

In [19]:
df['jobCodes10'] = json.loads(df['jobCategoriesCodes'].replace("'",'"'))[0].split("/")[-1][1]

TypeError: the JSON object must be str, bytes or bytearray, not Series

**Funktioniert nicht!** Warum? json.loads lässt sich nicht auf eine Series anwenden. Es braucht einen Loop.

In [20]:
list_new = []

for var in df['jobCategoriesCodes']:
    list_new.append(json.loads(var.replace("'",'"'))[0].split("/")[-1][1])
list_new

['3',
 '3',
 '5',
 '9',
 '7',
 '7',
 '7',
 '7',
 '8',
 '5',
 '7',
 '9',
 '7',
 '7',
 '8',
 '3',
 '7',
 '7',
 '5',
 '9',
 '5',
 '7',
 '5',
 '7',
 '1',
 '7',
 '7',
 '2',
 '1',
 '2',
 '8',
 '7',
 '7',
 '8',
 '2',
 '7',
 '7',
 '8',
 '4',
 '7',
 '5',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '1',
 '7',
 '7',
 '7',
 '7',
 '1',
 '5',
 '7',
 '7',
 '1',
 '1',
 '1',
 '4',
 '7',
 '7',
 '2',
 '9',
 '8',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '3',
 '3',
 '7',
 '7',
 '4',
 '7',
 '5',
 '5',
 '3',
 '7',
 '7',
 '3',
 '7',
 '2',
 '2',
 '3',
 '7',
 '7',
 '7',
 '7',
 '2',
 '4',
 '5',
 '3',
 '7',
 '7',
 '7',
 '2',
 '2',
 '2',
 '7',
 '1',
 '3',
 '7',
 '7',
 '8',
 '2',
 '2',
 '7',
 '7',
 '2',
 '2',
 '4',
 '7',
 '9',
 '8',
 '7',
 '7',
 '2',
 '1',
 '1',
 '4',
 '6',
 '5',
 '7',
 '2',
 '3',
 '5',
 '7',
 '2',
 '5',
 '7',
 '9',
 '4',
 '7',
 '1',
 '4',
 '2',
 '2',
 '2',
 '1',
 '2',
 '3',
 '7',
 '5',
 '7',
 '5',
 '5',
 '2',
 '2',
 '3',
 '2',
 '2',
 '5',
 '5',
 '3',
 '7',
 '1',
 '1',
 '2',
 '5',
 '1',
 '2',
 '7',
 '7',
 '7',
 '4',
 '7',
 '5',
 '3',
 '7',
 '7',
 '3',
 '5',
 '7',
 '7',
 '3',
 '6',
 '6',
 '5',
 '7',
 '7',
 '7',
 '7',
 '3',
 '3',
 '3',
 '7',
 '3',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '2',
 '9',
 '2',
 '2',
 '2',
 '2',
 '2',
 '5',
 '7',
 '7',
 '7',
 '2',
 '7',
 '2',
 '3',
 '3',
 '7',
 '2',
 '3',
 '8',
 '7',
 '7',
 '2',
 '2',
 '2',
 '8',
 '7',
 '3',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '2',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '2',
 '7',
 '7',
 '2',
 '7',
 '7',
 '7',
 '2',
 '6',
 '7',
 '2',
 '3',
 '7',
 '7',
 '7',
 '7',
 '5',
 '7',
 '5',
 '5',
 '5',
 '1',
 '3',
 '7',
 '7',
 '7',
 '3',
 '2',
 '7',
 '7',
 '7',
 '3',
 '3',
 '3',
 '3',
 '3',
 '2',
 '2',
 '3',
 '2',
 '3',
 '2',
 '5',
 '5',
 '5',
 '2',
 '7',
 '2',
 '7',
 '8',
 '3',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '3',
 '7',
 '7',
 '7',
 '6',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '8',
 '7',
 '7',
 '7',
 '8',
 '3',
 '7',
 '7',
 '7',
 '5',
 '3',
 '4',
 '7',
 '8',
 '3',
 '7',
 '3',
 '5',
 '7',
 '7',
 '8',
 '2',
 '2',
 '7',
 '7',
 '9',
 '2',
 '4',
 '2',
 '2',
 '2',
 '7',
 '5',
 '7',
 '8',
 '7',
 '7',
 '7',
 '2',
 '1',
 '3',
 '3',
 '3',
 '8',
 '4',
 '5',
 '4',
 '3',
 '3',
 '8',
 '2',
 '7',
 '7',
 '5',
 '7',
 '7',
 '8',
 '5',
 '7',
 '3',
 '9',
 '9',
 '9',
 '1',
 '3',
 '7',
 '8',
 '5',
 '2',
 '8',
 '7',
 '5',
 '7',
 '9',
 '9',
 '3',
 '7',
 '2',
 '7',
 '5',
 '5',
 '2',
 '3',
 '7',
 '7',
 '1',
 '7',
 '3',
 '7',
 '4',
 '7',
 '7',
 '8',
 '7',
 '3',
 '5',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '3',
 '7',
 '7',
 '7',
 '3',
 '7',
 '9',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '4',
 '7',
 '7',
 '7',
 '7',
 '7',
 '4',
 '3',
 '3',
 '2',
 '2',
 '7',
 '7',
 '7',
 '3',
 '7',
 '7',
 '3',
 '7',
 '7',
 '3',
 '3',
 '7',
 '3',
 '3',
 '7',
 '3',
 '7',
 '7',
 '7',
 '3',
 '3',
 '3',
 '7',
 '8',
 '3',
 '7',
 '7',
 '3',
 '4',
 '7',
 '5',
 '5',
 '3',
 '7',
 '2',
 '4',
 '5',
 '7',
 '8',
 '3',
 '2',
 '7',
 '2',
 '2',
 '3',
 '2',
 '3',
 '3',
 '1',
 '8',
 '7',
 '7',
 '8',
 '2',
 '9',
 '2',
 '7',
 '2',
 '1',
 '7',
 '6',
 '7',
 '7',
 '6',
 '7',
 '8',
 '7',
 '7',
 '7',
 '7',
 '7',
 '9',
 '7',
 '2',
 '3',
 '3',
 '3',
 '3',
 '3',
 '7',
 '1',
 '2',
 '8',
 '8',
 '5',
 '3',
 '7',
 '2',
 '2',
 '3',
 '8',
 '4',
 '2',
 '2',
 '2',
 '7',
 '7',
 '7',
 '5',
 '5',
 '2',
 '2',
 '3',
 '8',
 '7',
 '8',
 '7',
 '2',
 '7',
 '7',
 '7',
 '7',
 '2',
 '7',
 '7',
 '7',
 '7',
 '7',
 '1',
 '1',
 '7',
 '7',
 '2',
 '2',
 '7',
 '3',
 '4',
 '2',
 '1',
 '2',
 '7',
 '7',
 '5',
 '7',
 '1',
 '6',
 '7',
 '7',
 '1',
 '2',
 '2',
 '7',
 '3',
 '5',
 '5',
 '7',
 '7',
 '7',
 '3',
 '5',
 '2',
 '2',
 '2',
 '2',
 '2',
 '3',
 '3',
 '2',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '8',
 '7',
 '7',
 '7',
 '7',
 '3',
 '7',
 '3',
 '9',
 '7',
 '7',
 '3',
 '7',
 '3',
 '3',
 '3',
 '2',
 '2',
 '7',
 '7',
 '2',
 '4',
 '3',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '7',
 '7',
 '7',
 '2',
 '2',
 '9',
 '7',
 '7',
 '7',
 '2',
 '2',
 '7',
 '3',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '2',
 '2',
 '2',
 '2',
 '5',
 '5',
 '7',
 '7',
 '3',
 '3',
 '7',
 '3',
 '2',
 '2',
 '9',
 '2',
 '3',
 '7',
 '7',
 '7',
 '7',
 '8',
 '7',
 '7',
 '7',
 '7',
 '3',
 '7',
 '8',
 '7',
 '3',
 '2',
 '2',
 '7',
 '2',
 '7',
 '4',
 '1',
 '4',
 '2',
 '5',
 '2',
 '7',
 '5',
 '7',
 '7',
 '9',
 '9',
 '2',
 '3',
 '5',
 '2',
 '2',
 '2',
 '4',
 '3',
 '2',
 '7',
 '2',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '2',
 '8',
 '4',
 '7',
 '2',
 '7',
 '2',
 '2',
 '4',
 '7',
 '1',
 '7',
 '3',
 '3',
 '1',
 '1',
 '1',
 '1',
 '7',
 '3',
 '5',
 '7',
 '1',
 '6',
 '5',
 '7',
 '6',
 '5',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '3',
 '7',
 '7',
 '8',
 '3',
 '3',
 '8',
 '3',
 '3',
 '8',
 '3',
 '7',
 '7',
 '2',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '1',
 '7',
 '7',
 '4',
 '3',
 '7',
 '7',
 '7',
 '7',
 '3',
 '3',
 '3',
 '3',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '5',
 '1',
 '3',
 '2',
 '2',
 '2',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '6',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '7',
 '3',
 '7',
 '8',
 '3',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '4',
 '8',
 '7',
 '8',
 '3',
 '8',
 '7',
 '8',
 '8',
 '8',
 '3',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '2',
 '2',
 '7',
 '7',
 '3',
 '3',
 '3',
 '2',
 '5',
 '7',
 '7',
 '5',
 '7',
 '7',
 '2',
 '3',
 '3',
 '7',
 '3',
 '2',
 '7',
 '8',
 '7',
 '7',
 '7',
 '2',
 '3',
 '7',
 '8',
 '7',
 '7',
 '3',
 '7',
 '3',
 '2',
 '3',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '3',
 '1',
 '8',
 '8',
 '8',
 '7',
 '7',
 '7',
 '7',
 '3',
 '8',
 '9',
 '3',
 '7',
 '7',
 '7',
 '3',
 '7',
 '8',
 '7',
 '7',
 '2',
 '3',
 '7',
 '7',
 '6',
 '9',
 '7',
 '7',
 '7',
 '7',
 '3',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 '7',
 ...]

In [22]:
df['jobCodes10'] = list_new

In [26]:
df

,id,creationDate,lastModificationDate,title,description,numberOfPosts,locationMap,euresFlag,jobCategoriesCodes,employer,score,jobCodes10
0,MDgyQ05KQyA5,1547103651000,1550419220000,Conseiller / Conseillère clientèle en assurances,Prospection téléphonique <br>Suivi de la clien...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C3321'],"{'name': 'PHOENIX MANAGEMENT', 'website': None...",NaN,3
1,MDgyWFJLUSA5,1548745236000,1550419219000,CONSEILLER A LA CLIENTELE (H/F),Analyser la situation globale de vos clients a...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C3321'],"{'name': 'MF CONSEIL SARL', 'website': None, '...",NaN,3
2,MDgyV0xYUyA5,1548662527000,1550417428000,Téléconseiller / Téléconseillère,Notre club s'oriente aujourd'hui vers un club ...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5244'],"{'name': 'FRANCE LOISIRS SUISSE', 'website': N...",NaN,5
3,MDgzUVZCUSA5,1550053870000,1550417428000,Aide de cuisine plongeur H/F,Hôtel familial à la montagne dans le Valais su...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C9412'],"{'name': 'hotel du glacier', 'website': 'http:...",NaN,9
4,MDgxR0pZQiA5,1544693437000,1550413816000,Opérateur régleur-programmeur / Opératrice rég...,VOUS ETES RESPONSABLE DE LA QUALITE ET DE LA P...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7223'],"{'name': 'Non renseigné', 'website': None, 'se...",NaN,7
5,MDgzSk5RTSA5,1549467071000,1550412028000,Tourneur / Tourneuse sur Commande Numérique -CN-,Pour un organisme de recherche international b...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7223'],"{'name': 'ALTEAD INDUSTRIES SERVICES', 'websit...",NaN,7
6,MDgyUUJTRCA5,1548082867000,1550412019000,Mécanicien / Mécanicienne outils à découper et...,Pour un organisme de recherche international b...,4,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7222'],"{'name': 'ALTEAD INDUSTRIES SERVICES', 'websit...",NaN,7
7,MDgzSk1MRyA5,1549465268000,1550412018000,Fraiseur / Fraiseuse sur Commande Numérique -CN-,Pour un organisme de recherche international b...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7223'],"{'name': 'ALTEAD INDUSTRIES SERVICES', 'websit...",NaN,7
8,MDgzQ0xSUSA5,1549008106000,1550404830000,OPERATEUR MACHINE A INJECTION (H/F),Plasturgie - Injection Gestion de production I...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C8142'],"{'name': 'ncm management', 'website': None, 's...",NaN,8
9,MDgzUk5YUyA5,1550129481000,1550404828000,CHEF DU SERVICE NETTOYAGE,Vous êtes au bénéfice d'une solide expérience ...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5151'],"{'name': 'AREA TECH SARL', 'website': None, 's...",NaN,5
10,MDgyWkZCWSA5,1548837159000,1550404826000,MACON - COFFREUR - BRANCHEUR (H/F),En qualité de Maçon/Coffreur/Bancheur vous ête...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7114'],"{'name': 'SOCOREC', 'website': None, 'sectorCo...",NaN,7
11,MDgyWlBNWSA5,1548928881000,1550404821000,Aide-maçon / Aide-maçonne,- Travaux de démolition<br>- Travaux génie civ...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C9312'],"{'name': 'Non renseigné', 'website': None, 'se...",NaN,9
12,MDgyTVpYWiA5,1547807702000,1550404818000,Mécanicien poids lourds (H/F),"Vous assurez l'entretien mécanique, le montage...",1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7231'],"{'name': 'Synergie SA', 'website': None, 'sect...",NaN,7
13,MDgzUUpSUiA5,1550044926000,1550403026000,STORISTE H/F,"Pose et réparation : volant roulants, battants...",1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7115'],"{'name': 'NOVATIS', 'website': None, 'sectorCo...",NaN,7
14,MDgzRFRYSyA5,1549261842000,1550403026000,CENTRALISTE A BETON (H/F),"Fabrication de béton, entretien de l'installat...",1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C8114'],"{'name': 'SOCOREC', 'website': None, 'sectorCo...",NaN,8
15,MDgzRkhQSCA5,1549274502000,1550403021000,Conseiller commercial / Conseillère commercial...,Développement du portefeuille client. Prospect...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C3322'],"{'name': 'GENIX SECURITY GROUP', 'website': No...",NaN,3
16,MDgzUUpGUiA5,1550043056000,1550403019000,Poseur / Poseuse de revêtements souples de sols,"Travaux préparatoires du support, traitement d...",1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7122'],"{'name': 'NOVATIS', 'website': None, 'sectorCo...",NaN,7
17,MDgzUUpHSyA5,1550043046000,1550403018000,INSTALLATEUR ET DEPANNEUR SANITAIRE H/F,Installations <br>Gébérit <br>Entretien<br>Mon...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7126'],"{'name': 'NOVATIS', 'website': None, 'sectorCo...",NaN,7
18,MDgzR0ZRSiA5,1549350020000,1550403017000,VENDEUR EN BOULANGERIE (H/F),"En qualité de vendeur en boulangerie, vous ête...",1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5223'],"{'name': 'D&G CHARLET ANCAY ', 'website': None...",NaN,5
19,MDgzR1hQRyA5,1549371651000,1550401213000,Crêpier / Crêpière,"Pour ce Lounge Bar, restaurant et terrasse, vo...",1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C9411'],"{'name': 'GRAND HOTEL DU GOLF ET PALACE', 'web...",NaN,9
20,MDgzR1lNSyA5,1549443687000,1550386814000,Cuisinier / Cuisinière (H/F),Réf. 441 - Cherchons cuisinier (H/F) capable d...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5120'],"{'name': 'JOBHR', 'website': 'https://jobhrmed...",NaN,5
21,MDgyU01LTiA5,1548252106000,1550365344000,Monteur électricien / Monteuse électricienne,Nous recrutons plusieurs monteurs électriciens...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7411'],"{'name': 'SWISS INTERIM TTF SA', 'website': 'h...",NaN,7
22,MDgyUktOSCA5,1548169260000,1550365314000,VENDEUR EN PRODUITS D'ASSURANCE VIE H/F,Vous démarcherez une clientèle de particuliers...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5244'],"{'name': 'FINANCIAL PARTNERS SA', 'website': N...",NaN,5
23,MTAwMDAtMTE2OTUyMTQ5NS1TIDE,1550356787864,1550356787864,BAUSPENGLER (CH-Basel/Aargau/Zürich) – per sof...,Stellenangebotsbeschreibung: <br>Wir suchen gu...,9,{'CH': [None]},False,"['http://data.europa.eu/esco/isco/C7121', 'htt...","{'name': 'MPV Maurer Personalvermittlung', 'we...",NaN,7
24,MTI4MTEtMzAzMjk5LVMgMQ,1550356774432,1550356774432,Bauführer (Bauleiter/in),Stellenangebotsbeschreibung: <br>Unser Team - ...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C1323'],"{'name': 'Sersa Group AG (Schweiz)', 'website'...",NaN,1
25,MTAwMDAtMTE2OTUxODY4Ny1TIDE,1550356760065,1550356760065,Elektroinstallateur(m/w) gesucht Top Verdien...,Stellenangebotsbeschreibung: <br>Ihr Erfolg is...,6,"{'DE': [None], 'AT': [None], 'CH': [None], 'DK...",False,['http://data.europa.eu/esco/isco/C7411'],{'name': 'Dienstleistungs- und Personalservice...,NaN,7
26,MTAwMDAtMTE2OTUxODU3NC1TIDE,1550356759584,1550356759584,Trockenbauer m/w (Fachkraft - Trockenbau),Stellenangebotsbeschreibung: <br>Montage von G...,2,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7123'],"{'name': 'PKO Personal Service Partner', 'webs...",NaN,7
27,MTAwMDAtMTE2OTUxODA3OS1TIDE,1550356753314,1550356753314,Chefarzt für internistisch-onkologische Rehabi...,Stellenangebotsbeschreibung: <br>Unsere Kundin...,2,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C2212'],{'name': 'Personal Spezial Arzt und Pflege Ver...,NaN,2
28,MTI5NjMtMjUzODExNDc2LVMgMQ,1550356752115,1550356752115,Junior Bau-Projektleiter 80-100% (Bauleiter/in),Stellenangebotsbeschreibung: <br>Die Rhomberg ...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C1323'],"{'name': 'Sersa Group Management AG', 'website...",NaN,1
29,MTI4MTEtMzAzMTc5LVMgMQ,1550356730640,1550356730640,Embedded Software Entwickler/in C/C++ (m/w/d) ...,Stellenangebotsbeschreibung: <br>Unser Team - ...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C2512'],"{'name': 'Sersa Maschineller Gleisbau AG', 'we...",NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...
4801,YmNkNmEyNWItZTgxNS0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001975,1544175001975,"TCM-Therapeut/in, 100%,",Gesucht:<br><br>Auf September 2019 (ev. auch f...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C2212'],"{'name': 'Ming Tao GmbH', 'website': '', 'sect...",NaN,2
4802,M2UyMTgzMDgtZThkZC0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001910,1544175001910,Mitarbeiterin Frühstücksservice,Sie erstellen das Frühstücksbüffet und servier...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5131'],"{'name': 'Hotel Krone Giswil AG', 'website': '...",NaN,5
4803,OWIxZmNkMDktZThiNC0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001910,1544175001910,Mitarbeiterin Housekeeping,- Reinigung der Gästezimmer und öffentlichen B...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5151'],"{'name': 'Hotel Krone Giswil AG', 'website': '...",NaN,5
4804,Yzk4M2YwNTEtZThiMi0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001910,1544175001910,Receptionist/-in,Tätigkeit<br>- Leitung der Reception<br>- Vera...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C4226'],"{'name': 'Hotel Krone Giswil AG', 'website': '...",NaN,4
4805,ZDBkNjg1NjUtZTlhNy0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001677,1544175001677,IT Senior Data Protection Engineer,Your role :&nbsp;&nbsp;<br>Your security-drive...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C2512'],"{'name': 'UBS Switzerland AG', 'website': '', ...",NaN,2
4806,YTJjYzY5Y2YtZThiNS0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001598,1544175001598,Verkaufsmitarbeiter/in 20-40% im YALDA,"Im trendigen Einkaufszentrum Sihlcity, an zent...",1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5131'],"{'name': 'Two Spice AG', 'website': '', 'secto...",NaN,5
4807,MzA3ZWQ4NzUtYWY2Zi0xMWU4LWEzOGMtMDA1MDU2YWMwOD...,1544175001596,1544175001596,Verkäufer/in 60-80%,Verkäufer 60-80% (w/m)<br><br>Ihre Aufgaben <b...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5222'],"{'name': 'SPAR express', 'website': '', 'secto...",NaN,5
4808,MDJkNDZjMDgtZThhYS0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001577,1544175001577,Office Mitarbeiter/in 20 - 40%,Das Yooji’s Seefeld ist das erste Yooji’s Sush...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5120'],"{'name': 'Two Spice AG', 'website': '', 'secto...",NaN,5
4809,ZTNlOTgzYmUtZWJjYi0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001544,1544175001544,Restaurant Manager Spices 100 % (m/w),Im Herzen der Schweiz vor der atemberaubenden ...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C141'],"{'name': 'Bürgenstock Hotels AG', 'website': '...",NaN,1
4810,NGE0ZjAyYjYtZTc3Mi0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001537,1544175001537,Hilfskoch / Backoffice Mitarbeiter/in (w/m) 100%,Ihre Hauptaufgaben <br><br>•&nbsp;&nbsp;&nbsp;...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5120'],"{'name': 'Rest. James Joyce', 'website': '', '...",NaN,5
4811,YzU0N2U4YWEtZTliMC0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001530,1544175001530,Lingerie Mitarbeiter (m/w) 100 %,Diese vielseitige Position umfasst:<br><br>- d...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5151'],"{'name': 'Bürgenstock Hotels AG', 'website': '...",NaN,5
4812,M2U3ODQzODUtZWIyYi0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001530,1544175001530,Servicemitarbeiterin Hotel,- bereits etwas Serviceerfahrung<br>- Freude a...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5131'],"{'name': 'Hotel Bellevue-Terminus', 'website':...",NaN,5
4813,NjU2Y2FlYTEtZTlhZi0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001526,1544175001526,Portier 100 % (m/w),Diese vielseitige Position umfasst:<br><br>-Mi...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C4226'],"{'name': 'Bürgenstock Hotels AG', 'website': '...",NaN,4
4814,ZDJlOTE4YzQtZWJjYi0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001435,1544175001435,TEMPORÄR - CALL-AGENT(IN),### TEMPORÄR - CALL-AGENT(IN) ###<br>Zusatzver...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C5244'],"{'name': 'Der Profi Personalmanagement AG', 'w...",NaN,5
4815,YzJjMWM1YmItZWJjYS0xMWU4LWIwMDktMDA1MDU2YWMwOD...,1544175001427,1544175001427,TRY&HIRE - CHAUFFEUR(IN) C,### TRY&amp;HIRE - CHAUFFEUR(IN) C ###<br>Eins...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C8332'],"{'name': 'Der Profi Personalmanagement AG', 'w...",NaN,8
4816,MGJhOTNlNTEtZTQxZi0xMWU4LWIxNzUtMDA1MDU2YWMwOD...,1544175001301,1544175001301,cuisinier,5 années d expéience,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C3434'],"{'name': 'café du centre', 'website': '', 'sec...",NaN,3
4817,MWEyZjM5OWQtZjk1Yy0xMWU4LTk3N2MtMDA1MDU2YWMwOD...,1544175000990,1544175000990,"Kunststofftechnologe,",Kunststofftechnologe Tagesbetrieb / 2- Schicht...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C8142'],"{'name': 'Lumaplast AG', 'website': '', 'secto...",NaN,8
4818,MTAwMDAtMTE2NzI2ODc2NS1TIDE,1542840878637,1542927177666,Trockenbaumonteur/in,Stellenangebotsbeschreibung: <br>Die Käner Per...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7123'],"{'name': 'Käner Personal AG', 'website': None,...",NaN,7
4819,MTAwMDAtMTE2NzI1MzM2NS1TIDE,1542756384569,1542927167449,Zimmerer/Zimmerin,Stellenangebotsbeschreibung: <br>Die Käner Per...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C7115'],"{'name': 'Käner Personal AG', 'website': None,...",NaN,7
4820,MTAwMDAtMTE2NzI2ODkzNS1TIDE,1542840878909,1542840878909,Betonfertigteilbauer/in,Stellenangebotsbeschreibung: <br>Wir suchen fü...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C8114'],"{'name': 'Käner Personal AG', 'website': None,...",NaN,8
4821,MTAwMDAtMTE2NzI0ODQxMC1TIDE,1542756343650,1542840219767,Baumaschinenführer/in,Stellenangebotsbeschreibung: <br>Die Käner Per...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C8342'],"{'name': 'Käner Personal AG', 'website': None,...",NaN,8
4822,MTAwMDAtMTE2NzI0NjAzMC1TIDE,1542756329001,1542756329001,Maurer (Hochbaufacharbeiter/in),Stellenangebotsbeschreibung: <br>Maurer 100% <...,1,{'CH': [None]},False,"['http://data.europa.eu/esco/isco/C7111', 'htt...","{'name': 'Käner Personal AG', 'website': None,...",NaN,7
4823,MDM5NzE4MTEwMDAwMTYgMjYx,1541703605542,1541703605542,European Research Council (ERC) grants,"Company Description\n\n\nAt CERN, the European...",1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C2310'],"{'name': 'Cern', 'website': None, 'sectorCodes...",NaN,2
4824,MDM5NzE4MTEwMDAwMTUgMjYx,1541703605511,1541703605511,Senior Fellowship Programme,"Company Description\n\n\nAt CERN, the European...",1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C2310'],"{'name': 'Cern', 'website': None, 'sectorCodes...",NaN,2
4825,MDM5NzE4MTEwMDAwMTQgMjYx,1541703604812,1541703604812,Post Career Break Fellowship Programme,"Company Description\n\n\nAt CERN, the European...",1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C2310'],"{'name': 'Cern', 'website': None, 'sectorCodes...",NaN,2
4826,MDM5NzE4MTEwMDAwMDMgMjYx,1541185200867,1541185200867,Power Electronics Engineer (TE-EPC-MPC-2018-11...,Job Description\n\n\nIntroduction\n\nAre you a...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C3114'],"{'name': 'CERN', 'website': None, 'sectorCodes...",NaN,3
4827,MTAwMDAtMTE0Nzg5ODQ5OS1TIDE,1531547424248,1539809071190,Chefarzt (m/w) Psychiatrie und Psychotherapie ...,Stellenangebotsbeschreibung: <br>Die Klinik su...,1,{'CH': [None]},False,"['http://data.europa.eu/esco/isco/C2212', 'htt...","{'name': 'Connecting People Medical', 'website...",NaN,2
4828,MTAwMDAtMTE2NDk0NTI5OC1TIDE,1535144224976,1535144224976,Gesundheits- und Krankenpfleger/in auf der Gyn...,Stellenangebotsbeschreibung: <br>Die Personal ...,2,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C3221'],{'name': 'Personal Spezial Arzt und Pflege Ver...,NaN,3
4829,MTAwMDAtMTE0ODA0MDA2NS1TIDE,1531547424942,1531547424942,Facharzt (m/w) Innere Medizin (Facharzt/-ärzti...,Stellenangebotsbeschreibung: <br>Die Klinik su...,1,{'CH': [None]},False,['http://data.europa.eu/esco/isco/C2212'],"{'name': 'Connecting People Medical', 'website...",NaN,2
4830,MTAwMDAtMTE0Nzg5ODUwOC1TIDE,1531547424251,1531547424251,Chefarzt (m/w) Ophtalmologie (Facharzt/-ärztin...,Stellenangebotsbeschreibung: <br>Die Klinik su...,1,{'CH': [None]},False,"['http://data.europa.eu/esco/isco/C2212', 'htt...","{'name': 'Connecting People Medical', 'website...",NaN,2

In [23]:
df.to_csv('Data_jobCodes10.csv', index=False)

<font color='red'>Weiter geht es mit dem **Jupyter Notebook: 4_EURES_CH_Pandas_Plotten**.</font>